.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #1f1f1f;
}

.header__container {
  width: 90%;
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  grid-template-columns: repeat(12, 1fr);
}

.header__left {
  padding: 15px 8px;
  grid-column-start: 1;
  grid-column-end: span 5;
  border-bottom: 1px solid #707070;
}

.header__welcome {
  color: #707070;
  font-size: 10px;
  text-transform: uppercase;
}

.header__welcome--bold {
  color: white;
  margin-left: 3px;
}

.header__right {
  display: flex;
  padding: 15px 11px;
  grid-column-start: 8;
  grid-column-end: span 5;
  justify-content: flex-end;
  border-bottom: 1px solid #707070;
}

.header__requests {
  color: #707070;
  font-size: 10px;
  margin-left: 37px;
  text-transform: uppercase;
}

.header__search {
  display: flex;
  position: relative;
  align-items: center;
  margin: 17px 0 21px;
  grid-column-end: span 5;
}

.header__search-icon {
  left: 11px;
  z-index: 1;
  cursor: pointer;
  position: absolute;
}

.header__search-input {
  width: 0;
  border: 0;
  opacity: 0;
  outline: none;
  font-size: 12px;
  color: #808080;
  font-weight: bold;
  pointer-events: none;
  padding: 18px 0 19px 63px;
  text-transform: uppercase;
  transition: opacity 200ms, width 374ms;
}

.header__search-toggle {
  display: none;
}

.header__search-toggle:checked ~ .header__search .header__search-input {
  opacity: 1;
  width: 100%;
  pointer-events: all;
}

.header__icons {
  display: flex;
  align-items: center;
  margin: 16px 0 20px;
  grid-column-start: 11;
  grid-column-end: span 2;
  justify-content: flex-end; 
}

.header__logout {
  cursor: pointer;
  margin-right: 27px;
  transition: filter 148ms ease-in-out;
}

.header__logout:hover {
  filter: brightness(2);
}

.header__cart {
  width: 66px;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.header__cart-toggle {
  display: none;
}

.header__cart-toggle:checked ~ .header__cart {
  background-color: white;
}

.header__cart-container {
  right: 0;
  top: 100%;
  z-index: 1;
  width: 270px;
  display: none;
  position: absolute;
  background-color: white;
  padding: 20px 18px 20px 19px;
}

.header__cart-product {
  display: flex;
  font-size: 14px;
  color: #666666;
  font-weight: bold;
  margin-bottom: 14px;
  padding-bottom: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}

.header__cart-total {
  display: flex;
  font-size: 14px;
  color: #666666;
  margin-top: 49px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.header__cart-total--green {
  color: #5a9711;
  font-size: 18px;
}

.header__cart-checkout {
  color: white;
  display: block;
  font-size: 18px;
  margin-top: 17px;
  font-weight: bold;
  text-decoration: none;
  padding: 14px 0 13px 29px;
  background-color: #5a9711;
}

.header__cart-checkout:hover {
  background-color: #47770d;
}

.header__cart-toggle:checked ~ .header__cart .header__cart-container {
  display: block;
}

.header__bag {
  cursor: pointer;
}

.header__cart-toggle:checked ~ .header__cart .header__bag {
  filter: brightness(0);
}
